.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin-top: 100px;
}

.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);
}

.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

.place-order-left input {
  margin-bottom: 50px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}

.place-order-left .multi-fields {
  display: flex;
  gap: 10px;
}

.place-order-right {
  width: 100%;
  max-width: max(40% 500px);
}

.place-order .cart-total button {
  margin-top: 30px;
}

.cart-payment-method {
  margin-top: 15px;
}

.cart-payment-method h2 {
  margin-bottom: 20px;
}

.cart-payment-method div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.cart-payment-method input[type="radio"] {
  margin-right: 10px;
  accent-color: rgb(255, 42, 4);
}

.payment-input {
  border: 1px solid tomato;
  padding: 10px;
  border-radius: 2px;
}

.cart-payment-method label {
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.payment-input:hover {
  background-color: #ffe8e4;
}
